/************ CSS Style for Module 3 solution */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: Tahoma, Geneva, sans-serif;
}

/************  Header */
#header-nav {
	background-color: #e0f444;
	border-radius: 0;
	border: 0;
}
.navbar-brand {
	padding-top: 15px;
}
.navbar-brand h1 { 
	color: #000;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}
#collapsable-nav {
	border:0;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
  	color: #000;
}
.navbar-default .navbar-toggle.collapsed {
	background-color: #e0f444;
	border-color: #000;
	clear: both;
	margin-top: -35px;
}
.navbar-default .navbar-toggle {
	background-color: #fff;
	border-color: #000;
	clear: both;
	margin-top: -35px;
}
.navbar-nav {
	margin-bottom:0;
}
#nav-list{
	background-color: #000;
	color: #e0f444;
	text-align: center;
}
#nav-list li {
	margin:10px 0px;
	font-size: 1.25em;
	font-weight: bold;
	border-bottom: 1px solid #e0f444;
}
#nav-list li:last-of-type {
  border-bottom: 0;
}

/************  End Header */

/************  Content*/
h2 {
	margin-top:40px;
	margin-bottom:40px;
	font-size: 175%;
	font-weight: bold;
}
#section1{
	background-color: #e0f444;
	border: 1px solid #000;
	height: 1000px;
}
#section1 h3 {
	margin-bottom: 20px;
	font-size: 125%;
	font-weight: bold;
}

/************ Media Queries*/

/************ Tablet: 768px to 991px;*/
@media (min-width: 768px)  {
	#header-nav {
		padding-bottom: 10px;
	}
}
